PORT=4000
SALT=CHANGE_ME_TO_RANDOM_STRING
JWT_SECRET=CHANGE_ME_TO_RANDOM_STRING

DB_HOST=127.0.0.1
DB_USER=admin
DB_PASSWORD=CHANGE_ME_TO_SECURE_PASSWORD
DB_PORT=27017
DB_NAME=six-cities

ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=CHANGE_ME_TO_SECURE_PASSWORD

UPLOAD_DIRECTORY=./upload
